@import url('https://fonts.googleapis.com/css2?family=Signika&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&family=Signika&display=swap');

.flex{
    display: flex;
}

.b{
    /* border: 2px solid black; */
}

.text-center{
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.font{
    font-family: 'Signika', sans-serif;
}